{% extends "base.html" %}
{% load static %}
{% block title %}Bug reports{% endblock %}
{% block content %}

{% load humanize %}


    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <!-- form and discuss section -->



    <section class="form-discuss mt-5">
        <div class="container">
            <div class="row">



                <!-- start col -->
                <div class="col-lg-4 col-md-12 col-sm-12 py-3">
                    <!-- forms-part -->



                    <div class="form cards">


                        <h4>Report a Bug</h4>
                        <p>Help us fix issues</p>


                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="title" class="form-label" id="label">title</label>
                                <input type="text" class="form-control" name= "discuss" placeholder="Describe the bug" id="title" required>
                            </div>

                            <select class="form-select my-3" name="category" aria-label="Default select example" required>
                                <option selected>Open this select menu</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>

                            <div class="mb-3">
                                <label for="desp" class="form-label">Description</label>
                                <textarea name="content" id="" rows="5"  class="form-control"
                                    placeholder="What steps reproduce the issue?" id="desp" required></textarea>
                            </div>

                            <div class="custom-file-upload mb-3">
                                <label for="file-upload" role="button">
                                    <i class="fas fa-paperclip"></i>
                                    Attach Images
                                </label>
                                <input id="file-upload" type="file" accept="image/*" name="image" multiple>
                            </div>

                            {% if not user.is_authenticated %}

                            <div class="card-in-card">
                                <div class="mb-3">
                                    <label for="Name" class="form-label">Name*</label>
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" id="name" required minlength="3" maxlength="20">
                                </div>
                                <div class="mb-3">
                                    <label for="Email" class="form-label">Email*</label>
                                    <input type="text" name="email" class="form-control" placeholder="Your email adress" id="email" required>
                                </div>
                            </div>
                            {% endif %}

                            <button type="submit" class="btn btn-dark my-3">Submit</button>

                        </form>

                    </div>
                    <!-- end forms-part -->
                </div>
                <!-- end col -->




                <!-- start col -->
                <div class="col-lg-8 col-md-12 col-sm-12 py-3">
                    <!-- start  discuss-part -->
                    <div class="discuss cards p-0">

                        <!-- start dropdown  -->

                        <div class="sorter d-flex py-3 flex-wrap">

                            <div class="d-flex gap-3">
                            <ul class="filtering mx-3" style="list-style: none;">
                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-list"></i>
                                {{ current_filter|title|default:"Recent" }}
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="?filter=most_discussed">Most discussed</a></li>
                                <li><a class="dropdown-item" href="?filter=most_votes">Most votes</a></li>
                                <li><a class="dropdown-item" href="?filter=recent">Recent</a></li>
                                </ul>
                            </li>
                            </ul>




                            <ul class="filtering" style="list-style: none;">
                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if current_category %}
                                {{ current_category.name }}
                                {% else %}
                                All Statuses
                                {% endif %}
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{% url 'main:home' %}">All Statuses</a></li>
                                {% for category in categories %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'main:category_filter' category.slug %}">
                                    {{ category.name }}
                                    </a>
                                </li>
                                {% endfor %}
                                </ul>
                            </li>
                            </ul>

                            </div>


                            <ul class="filtering last mx-3" style="list-style: none; float: right;">
                                <li class="nav-item dropdown">
                                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-filter"></i> 
                                        {% if extra_filter == 'my_ideas' %}
                                            My ideas
                                        {% else %}
                                            All
                                        {% endif %}
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li>
                                            <a class="dropdown-item" href="?filter={{ current_filter }}&extra_filter=">All</a>
                                        </li>
                                        {% if user.is_authenticated %}
                                        <li>
                                            <a class="dropdown-item" href="?filter={{ current_filter }}&extra_filter=my_ideas">My ideas</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>


                        </div>

                        <!--  end dropdown -->
                        <hr class="m-0">

                        <!-- start lists -->
                        <div class="lists w-100" style = "height:100%!important">

                            {% for discuss in discussions %}
                            <div class="list d-flex">
                                <form class="vote-form d-flex flex-column justify-content-center" method="post" action="{% url 'main:toggle_vote' discuss.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="vote-btn d-flex flex-column h-100 m-0 p-3 btn">
                                        {% if discuss.id in voted_set %}
                                            <i class="fas fa-caret-up text-info"></i>
                                            <h3 class="counter text-info">{{ discuss.vote_count }}</h3>
                                        {% else %}
                                            <i class="fas fa-caret-up"></i>
                                            <h3 class="counter">{{ discuss.vote_count }}</h3>
                                        {% endif %}
                                    </button>
                                </form>

                                <div class="content flex-grow-1 ms-3">
                                    <a href="{% url 'main:discussion_detail' discuss.id %}" class="link text-decoration-none text-dark">
                                        <div class="desp-body p-3">
                                            <h5 class="desp-title">{{ discuss.title }}</h5>
                                            <p class="desp">{{ discuss.content|truncatechars:200 }}</p>
                                        </div>
                                        <div class="user-profile p-3 d-flex gap-3">
                                            <i class="fas fa-user"></i>
                                            <p>
                                                {% if discuss.author %}
                                                    {{ discuss.author.username }}
                                                {% else %}
                                                    {{ discuss.author2 }}
                                                {% endif %}
                                            </p>

                                            <p><i class="fas fa-bug"></i> {{ discuss.category.name }}</p>
                                            <p><i class="far fa-comments"></i> {{ discuss.discussions_comments_count }}</p>
                                            <p> <i class="far fa-clock"></i> {{ discuss.created_at|naturaltime }}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% empty %}
                            <p class= "p-3">No discussions found.</p>
                            {% endfor %}

                        </div>

                        <!-- end lists -->

                    </div>
                    
                {% if discussions.paginator.count > 7 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center my-5">
                        {% if discussions.has_previous %}
                        <li class="page-item">
                            <a class="page-link border border-dark text-dark rounded mx-1" href="?page={{ discussions.previous_page_number }}{% if current_filter %}&filter={{ current_filter }}{% endif %}">
                                Previous
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link border border-dark text-dark rounded mx-1" tabindex="-1">Previous</a>
                        </li>
                        {% endif %}

                        {% for num in discussions.paginator.page_range %}
                            {% if discussions.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link bg-dark border border-dark text-white rounded mx-1" href="#">{{ num }}</a>
                                </li>
                            {% elif num > discussions.number|add:'-3' and num < discussions.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link border border-dark text-dark rounded mx-1" href="?page={{ num }}{% if current_filter %}&filter={{ current_filter }}{% endif %}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if discussions.has_next %}
                        <li class="page-item">
                            <a class="page-link border border-dark text-dark rounded mx-1" href="?page={{ discussions.next_page_number }}{% if current_filter %}&filter={{ current_filter }}{% endif %}">
                                Next
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link border border-dark text-dark rounded mx-1" tabindex="-1">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}

                </div>
            </div>
        </div>

    </section>






{% endblock content %}
