{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Roadmap{% endblock %}
{% block content %}

    <!-- roadmap section -->

    <section class="py-5">
        <div class="container">
            <div class="d-flex gap-3">
                <ul class="filtering mx-3" style="list-style: none;">
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-list"></i>
                    {{ current_filter|title|default:"Recent" }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="?filter=most_discussed">Most discussed</a></li>
                    <li><a class="dropdown-item" href="?filter=most_votes">Most votes</a></li>
                    <li><a class="dropdown-item" href="?filter=recent">Recent</a></li>
                    </ul>
                </li>
                </ul>

            </div>

            <div class="row">
                {% for category, discussions in category_discussions.items %}
                <div class="col-sm-12 col-md-12 col-lg-4 py-3">
                    <div class="cards p-0" id="road">

                        <!-- category -->
                        <div class="btn border m-3">
                            {{ category.name }} ({{ discussions|length }})
                        </div>
                        <!-- end category -->

                        <hr class="m-0">

                        <!-- lists -->
                        <div class="lists" id="road-lists">
                            {% for discuss in discussions %}
                            <div class="list d-flex m-3 border rounded">
                                <form method="post" action="{% url 'main:toggle_vote' discuss.id %}" >
                                    {% csrf_token %}
                                <button type="submit" class="vote-btn d-flex flex-column h-100 m-0 p-3 btn">
                                        {% if discuss.id in voted_set %}
                                            <i class="fas fa-caret-up text-info"></i>
                                            <h3 class="counter text-info">{{ discuss.vote_count }}</h3>
                                        {% else %}
                                            <i class="fas fa-caret-up"></i>
                                            <h3 class="counter">{{ discuss.vote_count }}</h3>
                                        {% endif %}
                                </button>
                                </form>
                                <div class="content p-3">
                                    <a href="{% url 'main:discussion_detail' discuss.id %}" class="text-decoration-none">
                                        <h5 class="desp-title">{{ discuss.title }}</h5>
                                    </a>
                                <div class="d-flex gap-4 align-items-center">
                                    <p class="text-muted">
                                        <i class="fas fa-calendar-alt"></i>
                                        {{ discuss.created_at|naturaltime }}
                                    </p>
                                    <p class="text-muted">
                                        <i class="fas fa-comments"></i>
                                        {{ discuss.discussions_comments_count }} comments
                                    </p>
                                </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="m-3">No discussions found.</div>
                            {% endfor %}
                        </div>
                        <!-- end lists -->

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

{% endblock content %}
}